<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tool.mariam.fihhuda">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".Base.App"
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen2"
        tools:replace="allowBackup"
        tools:targetApi="m">
        <activity android:name=".tafseer.views.TafseerDetailsForAllSura" />
        <activity android:name=".azkar.views.AzkarDetailsActivity" />
        <activity android:name=".quran.views.ListenDetailsActivity" />
        <activity android:name=".quran.views.SuraDetailsActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Base.NotificationBroadCastReceiver">
            <intent-filter>
                <action android:name="cancel" />
                <action android:name="next" />
                <action android:name="prev" />
                <action android:name="play_puase" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Base.ListeningService"
            android:enabled="true"
            android:exported="true" />
    </application>



</manifest>